DATABASE_URL="postgresql://user:password@localhost:5432/bpn_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="super_secret_bpn_key_123"
BIOMETRIC_ENCRYPTION_KEY="726164696f735f6172655f636f6f6c5f"
ANCHOR_API_KEY="anchor_sk_test_dummy"
ANCHOR_ENVIRONMENT="sandbox"
